<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>
<%= link_to "Редагувати", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "Видалити", post_path(@post), method: :delete, data:{confirm: "Ви дійсно хочете видалити??"}, :class => 'btn btn-danger' %>
<hr>
<h1>Koментарі</h1>
<% @post.comments.each do |comment| %>
    <div class="alert alert-light">
        <p><strong><%= comment.username %></strong>: <%= comment.body%></p>
    </div>
<% end %>
<hr>
<h2>Додати новий коментар</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
    Користувач<br>
        <%= f.text_field(:username, {:class => 'form-control'}) %>
    </p>
    <p>
        Текст<br>
        <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>
    <p>
        <%= f.submit("Додати", {:class => 'btn btn-warning'}) %>
    </p>
<% end %>
